* {
  background-color: var(--joplin-background-color);
  color: var(--joplin-color);
  font-size: var(--joplin-font-size);
  line-height: var(--joplin-font-size);
  outline: none;
  transition: background-color 300ms, color 300ms;
  margin: 0;
  box-sizing: border-box;
}

.tasks-container {
  display: grid;
  margin: 8px;
  grid-template-areas: 
    "A B"
    "C D"
    "C D";
  grid-template-columns: repeat(2, 1fr);
}

.tasks-container .tasks-today-title-container {
  grid-area: A;
  border: 1px solid var(--joplin-code-border-color);
  border-top-left-radius: 8px;
}

.tasks-container .tasks-backlog-title-container {
  grid-area: B;
  border: 1px solid var(--joplin-code-border-color);
  border-top-right-radius: 8px;
}

.tasks-container .tasks-today-list-container {
  grid-area: C;
  border: 1px solid var(--joplin-code-border-color);
  border-bottom-left-radius: 8px;
}

.tasks-container .tasks-backlog-list-container {
  grid-area: D;
  border: 1px solid var(--joplin-code-border-color);
  border-bottom-right-radius: 8px;
}

.tasks-today-title-container,
.tasks-backlog-title-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.tasks-today-title,
.tasks-backlog-title {
  flex: 3 auto;
}

.tasks-container .tasks-today-title-container,
.tasks-container .tasks-backlog-title-container,
.tasks-container .tasks-today-list-container,
.tasks-container .tasks-backlog-list-container {
  padding: 8px;
}

.tasks-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}

.tasks-list-item:not(:last-child) {
  border-bottom: 1px solid var(--joplin-color); 
}

.tasks-button {
  background: transparent;
  color: var(--joplin-color);
  border: 1px solid var(--joplin-code-border-color);
  border-radius: 4px;
  padding: 4px 5px;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid var(--joplin-code-border-color);
  background-color: var(--joplin-code-border-color);
  border-radius: 2px;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}

.checkbox::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  transition: 70ms transform ease-in-out;
  background-color: var(--joplin-highlighted-color);
  transform: scale(0);
}

.checkbox[data-checked="1"]::before {
  transform: scale(1);
}

.tasks-list-item-label {
  flex: 1 auto;

}

.tasks-list-item:has(.checkbox[data-checked="1"]) .tasks-list-item-label {
  text-decoration: line-through;
  color: gray;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--joplin-code-border-color);
}

.arrow-button:has(.right) {
  padding-left: 4px;
}

.arrow-button:has(.left) {
  padding-right: 4px;
}

.arrow-button .arrow {
  border: solid var(--joplin-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

/* .arrow-button:hover {
  background-color: #c0c0c0;
} */

.arrow-button .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-button .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-button .arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-button .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#joplin-plugin-content:has(.eau-dialog) {
  min-width: 400px;
}

.eau-dialog {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.eau-form {
  display: flex;
  flex-direction: column;
}

.eau-form-field {
  position: relative;
}

.eau-form-field .eau-label {
  position: absolute;
  transition: all 300ms;
  left: 9px;
}

/* Label for empty input*/
.eau-form-field:has(.eau-input:placeholder-shown) .eau-label {
  top: 10px;
  color: var(--joplin-color);
}

/* Label for input with focus */
.eau-form-field:has(.eau-input:focus) .eau-label,
/* Label for not empty input */
.eau-form-field:has(.eau-input:not(:placeholder-shown)) .eau-label {
  top: 6px;
  color: var(--joplin-color-faded);
  font-size: calc(var(--joplin-font-size) - 1px);
}

.eau-form-field .eau-input {
  width: 100%;
  transition: padding 300ms;
}

/* input with focus*/
.eau-form-field .eau-input:focus,
/* Not empty input*/
.eau-form-field .eau-input:not(:placeholder-shown) {
  padding-top: 22px;
}

.eau-input {
  min-width: 0;
  background-color: transparent;
  border: 1px solid var(--joplin-code-border-color);
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid var(--joplin-color-faded);
  padding: 8px 8px 6px;
  outline: none;
  appearance: textfield;
  -moz-appearance: textfield;
}

.eau-input:focus {
  border-color: var(--joplin-color-faded);
  border-bottom-color: var(--joplin-color);
}

.eau-input::-webkit-outer-spin-button,
.eau-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.eau-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}
