* {
  background-color: var(--joplin-background-color);
  color: var(--joplin-color);
  font-size: var(--joplin-font-size);
  line-height: var(--joplin-font-size);
  outline: none;
  transition: background-color 300ms, color 300ms;
  margin: 0;
  box-sizing: border-box;
}

.tasks-container {
  display: grid;
  margin: 8px;
  grid-template-areas: 
    "A B"
    "C D"
    "C D";
  grid-template-columns: repeat(2, 1fr);
}

.tasks-container .tasks-today-title-container {
  grid-area: A;
  border: 1px solid var(--joplin-code-border-color);
  border-top-left-radius: 8px;
}

.tasks-container .tasks-backlog-title-container {
  grid-area: B;
  border: 1px solid var(--joplin-code-border-color);
  border-top-right-radius: 8px;
}

.tasks-container .tasks-today-list-container {
  grid-area: C;
  border: 1px solid var(--joplin-code-border-color);
  border-bottom-left-radius: 8px;
}

.tasks-container .tasks-today-list-container,
.tasks-container .tasks-backlog-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tasks-container .tasks-backlog-list-container {
  grid-area: D;
  border: 1px solid var(--joplin-code-border-color);
  border-bottom-right-radius: 8px;
}

.tasks-today-title-container,
.tasks-backlog-title-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.tasks-today-title,
.tasks-backlog-title {
  flex: 3 auto;
}

.tasks-container .tasks-today-title-container,
.tasks-container .tasks-backlog-title-container {
  padding: 8px;
}

.tasks-button {
  background: transparent;
  color: var(--joplin-color);
  border: 1px solid var(--joplin-code-border-color);
  border-radius: 4px;
  padding: 4px 5px;
  cursor: pointer;
}

.eau-list-item-button:has(.right) {
  padding-left: 4px;
}

.eau-list-item-button:has(.left) {
  padding-right: 4px;
}

.eau-list-item-button .arrow {
  border: solid var(--joplin-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.eau-list-item-button .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.eau-list-item-button .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.eau-list-item-button .arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.eau-list-item-button .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
